fa-device-details {
    display: flex;
    flex-direction: column;
    height: 100%
}

    fa-device-details .loader-content {
        text-align: center;
    }

        fa-device-details .loader-content > i {
            font-size: var(--fa-font-size-big);
        }

    fa-device-details fa-google-map {
        flex: 1;
    }

    fa-device-details togglable-card {
        color: var(--fa-color-primary);
        background-color: var(--fa-background-3);
        padding: var(--fa-padding-primary);
        border-bottom: thin solid var(--fa-background-primary);
    }

        fa-device-details togglable-card .header {
            display: flex;
            align-items: center;
        }

        fa-device-details togglable-card .body {
            padding: var(--fa-padding-primary);
            font-size: var(--fa-font-size-small);
        }

        fa-device-details togglable-card .bold {
            text-align: right;
            padding-right: var(--fa-padding-primary);
        }

        fa-device-details togglable-card .body > div {
            display: flex;
        }

            fa-device-details togglable-card .body > div > * {
                flex: 1
            }

            fa-device-details togglable-card .body > div:nth-of-type(odd) {
                opacity: 0.5;
            }

        fa-device-details togglable-card .header div {
            flex: 1;
            font-size: var(--fa-font-size);
            cursor: pointer;
        }

            fa-device-details togglable-card .header div.small {
                opacity: 0.7;
                font-size: var(--fa-font-size-small);
            }

    fa-device-details i {
        padding: var(--fa-padding-primary);
    }

        fa-device-details i.fa-eercast {
            padding-right: calc(var(--fa-padding-primary) * 2);
        }

        fa-device-details i.fa-arrow-down,
        fa-device-details i.fa-arrow-right,
        fa-device-details i.fa-remove {
            cursor: pointer;
        }

        fa-device-details i.fa-remove {
            padding-left: calc(var(--fa-padding-primary) * 2);
            /* TODO: Remove when device management becomes a desired feature. */
            display: none;
        }

        fa-device-details i.Inactive {
            color: var(--fa-color-negative);
        }

        fa-device-details i.Online {
            color: var(--fa-color-positive);
        }

        fa-device-details i.Offline {
            color: var(--fa-color-warning);
        }
