@page "/users"
@inherits FrostAura.Standard.Components.Razor.Abstractions.BaseAuthenticatedComponent<Users>

<!-- Should the user be unauthenticated, redirect them to the schedule view. -->
<AuthorizeView>
    <NotAuthorized>
        <FrostAura.Standard.Components.Razor.Navigation.NavigateTo Path="/schedule" />
    </NotAuthorized>
</AuthorizeView>

<h1>Users</h1>
<p>View users and manage their tags.</p>